*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Don't import any configuration info, cruft or other non-essential files.
.DS_Store
.localized
*~
.vagrant
log/
logs/
data/
user-data
config.rb
*.class
*.jar
*.json
*.original
*.1
*.conf
*.log
*.zip
*.tar
*.sql
